.vs
UnityPackageManager
Library
/New Unity Project/New Unity Project.csproj
/New Unity Project/New Unity Project.Plugins.csproj
/New Unity Project/New Unity Project.sln
/New Unity Project/Assets/etc.meta
